# Let's practice python

Python, it's not hard to learn. just type and repeat it.


* What does a computer do

calculation 

Remember result

computer only know what you tell them

* Types of knowledge

declarative knowledge: statement of fact

imperative knowledge: recipe / how-to

* Basic machine architecture

Memory/ Control Unit / Arithmetic Logic Unit

**important thing is understanding the processing steps**

* Stored Programming computer

instruction stored : 1. Arithmetic and logic, 2. Simple test, 3. Moving data

* Basic primitives

6 primitives: move left, move right, read, write, scan, do nothing

**But we don’t have to use only these commands. Because modern programming languages have more convinced set of primitives.**

* Objects

scalar : cannot be subdivided, ex) int - integers, float - real numbers, Bool - boolean, None-type

Non-scalar : have some internal structure, ex) list …etc

* Variables & value

pi(variable) = 3.14(value)

value is stored in computer memory

Variable is a kind of ‘post-it’

## 1. about Numbers

int(): integers

In [1]:
a = 1000
a

1000

In [2]:
b = -7
b

-7

In [3]:
c = 0
c

0

float(): Real Numbers

In [4]:
a = 7.11
a

7.11

In [6]:
b = - 6.97
b

-6.97

You don't need to type 0

In [8]:
c = 5.
c

5.0

In [9]:
d = -.99
d

-0.99

+ more details about float()

Computer systems have limit when express real number.

for example

when we use binary, there is no way to express 0.9 precisely. Like this.

In [13]:
a = 0.3 + 0.6
a

0.8999999999999999

In [14]:
if a == 0.9:
    print(True)
else:
    print(False)

False

How to write 'exponent'

number after e / E, it means exponent of 10

Let's see

In [10]:
a = 1e9
a

1000000000.0

In [11]:
b = 75.25e1
b

752.5

In [12]:
c = 3954e-3
c

3.954

* funtions about numbers

round(): literally round, round off

In [15]:
a = 123.456
round(a, 2) # round at second decimal place

123.46

In [17]:
# applied example
a = 0.3 + 0.6

if round(a, 4) == 0.9:
    print(True)
else:
    print(False)

True

* Operators on ints and floats

i + j : sum

i - j : difference 

i * j : product 

i / j : division

i % j : reminder

i ** j : power

i // j : quotient

In [26]:
a = 7
b = 3

In [27]:
a + b

10

In [28]:
a - b

4

In [29]:
a * b

21

In [30]:
a / b

2.3333333333333335

In [31]:
a % b

1

In [32]:
a ** b

343

In [33]:
a // b

2

## 2. List

Lists are used to store multiple items in a single variable, and one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [36]:
# we can make a list like this
a = list()
b = []

In [37]:
# elements are divided by ','
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
a[3]

4

In [39]:
# appliction
n = 10
a = [0] * 10
a

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [41]:
# changeable
a[5] = 5
a

[0, 0, 0, 0, 0, 5, 0, 0, 0, 0]

* indexing

A way to find an element of list

* indexing

In [42]:
# elements are divided by ','
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
a[3]

4

In [47]:
a[-1] # third from the back

9

In [46]:
a[-3] # fouth from the back

7

* slicing

A way to find elements of list

we can set first index and the last index by using ':'

In [50]:
a[1:4] # from second to fourth

[2, 3, 4]

In [52]:
a[0:] # from the first to the end

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
a[:-1] # from the end -1 element to the first

[1, 2, 3, 4, 5, 6, 7, 8]

In [71]:
a[0:8:2] # period is two

[1, 3, 5, 7]

* List Comprehension

very useful when set n * m scale of second dimentional list

In [72]:
array = [ i for i in range(10)]
array

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
array = [i for i in range(20) if i % 2 == 1] # list of odd in 20
array

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [74]:
array = [i * i for i in range(1,10)] # square of 1 to 9
array

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
# second dimentional
n = 4
m = 3
array = [[0] * m for _ in range(n)]
array

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [76]:
#wrong version
array = [[0] * m] * n
array

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [78]:
array[1][1] = 5
array

[[0, 5, 0], [0, 5, 0], [0, 5, 0], [0, 5, 0]]

* when we use '_ , underbar'?

we often use when ignore repeated variable

In [80]:
summary = 0
for i in range(1, 10):
    summary += i
    
summary

45

In [82]:
for _ in range(5):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

* another method

In [83]:
#append() : add an element in the list
a = [1, 2, 3, 4, 5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [86]:
#sort() : sort in ascending order
a.sort()
a

[1, 2, 3, 4, 5, 6]

In [88]:
a.sort(reverse = True) # sort in descending order
a

[6, 5, 4, 3, 2, 1]

In [91]:
#reverse() : reverse ordre of list
a.reverse()

In [92]:
a

[1, 2, 3, 4, 5, 6]

In [93]:
# insert() : insert an element in specific location
a.insert(4, 3) #(location, inserted value)
a

[1, 2, 3, 4, 3, 5, 6]

In [94]:
# count() : used for counting, find the number of specific element
a.count(3)

2

In [96]:
# remove : remove element
a.remove(3)
a

[1, 2, 4, 5, 6]

## 3. String data type

Strings: letters, special characters, spaces, digits

In [98]:
data = 'Hello world'
data

'Hello world'

In [101]:
data = "Don't you know \"python\"?"
data

'Don\'t you know "python"?'

when doing concatenation with two strings, there’s no space.

So we have to insert space as manually like ‘hi + “ “ + name’

If you use ‘,’ instead of space, then it makes space between two values

String cannot change specific index

In [103]:
a = 'Hello'
b = 'world'
a + b

'Helloworld'

In [104]:
a + ' ' + b

'Hello world'

In [105]:
a , b

('Hello', 'world')

In [106]:
a * 3

'HelloHelloHello'

In [107]:
a[2:4]

'll'

* Tuple

It's almost the same as list date type. But there is syntax difference.

1. Tuple is not changeable

2. list use '[]' but tuple use '()'

You can use tuple in this situation.

* when manageing data that have different type

* when you need Hashing key

In [1]:
a = (1, 2, 333, 4, 5, 6, 7, 8, 9)

In [3]:
a[3]

4

In [110]:
a[1:4]

(2, 3, 4)

In [111]:
a[2] = 7

TypeError: 'tuple' object does not support item assignment

* dictionary

Data type that has 'key' and 'value'.

In [116]:
df = dict()
df['apple_k'] = 'apple_v'
df['banana_k'] = 'banana_v'
df['coconut_k'] = 'coconut_v'

In [117]:
df

{'apple_k': 'apple_v', 'banana_k': 'banana_v', 'coconut_k': 'coconut_v'}

In [120]:
if 'apple_k' in df:
    print('There is key of apple.')

There is key of apple.

method of dict()

keys() : query key data

values() : query value data

In [122]:
df.keys()

dict_keys(['apple_k', 'banana_k', 'coconut_k'])

In [123]:
df.values()

dict_values(['apple_v', 'banana_v', 'coconut_v'])

In [125]:
key_list = list(df.keys())
key_list

['apple_k', 'banana_k', 'coconut_k']

* set

1. Not allowed duplication

2. No order number

In [127]:
data = set([1, 1, 2, 3, 4, 4, 5])
data

{1, 2, 3, 4, 5}

Operations on set data types

In [145]:
#union
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

a | b

{1, 2, 3, 4, 5, 6, 7}

In [146]:
#intersection
a & b

{3, 4, 5}

In [147]:
#difference

a - b

{1, 2}

In [150]:
a.add(6) # add an element
a

{1, 2, 3, 4, 5, 6}

In [151]:
a.update([7,8]) # add elements
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [154]:
a.remove(2) #remove element
a

{1, 4, 5, 6, 7, 8}

## 4. Basic of input and output

Input: input(), User types in something and hits enter

we should know, whatever we type in, Python always makes it a string.

Output: made by print()

map() : change several data into other data type. Mostly used for list and tuple

In [155]:
n = int(input())

5

In [157]:
data = list(map(int, input().split()))

65 90 75 34 99

In [159]:
data.sort(reverse=True)
data

[99, 90, 75, 65, 34]

In [160]:
a, b, c = map(int, input().split())

8 3 9

In [161]:
a, b, c

(8, 3, 9)

In [162]:
# input quickly with sys
import sys

In [167]:
data = sys.stdin.readline().rstrip()
data

''

* f-string

In [168]:
answer = 7
print(f"The answer is {answer}.")

The answer is 7.

## 5. Control Flow

In [169]:
# If, elif, else <condition>: condition has a value True or False
#     <expression>
#     <expression>
#     …

under condition, there are expressions and when the code is running, it evaluates expressions in that block if condition is True.

when use this function, equal must be ‘==‘.

In [170]:
x = 15
if x >= 10:
    print('yeah')

yeah

In [171]:
#with elif and else
if a >= 20:
    print('b')
elif a >= 18:
    print('y')
else:
    print('a')

a

* Comparison operations on int, float, string(alphabet also has it’s number)

In [175]:
y = 1
if x == y:
    print('k')

In [176]:
if x != y:
    print('k')

k

In [177]:
if x > y:
    print('k')

k

In [178]:
if x < y:
    print('k')

In [179]:
if x >= y:
    print('k')

k

In [180]:
if x <= y:
    print('k')

* Logic operators on bools

Not a : True is a is False, False if a if True

A and b : True if both are True

A or b : True if either or both are True

- other things

In [186]:
# in and not in
df = [1, 2, 3, 4, 5, 15]
if x in df:
    print('True')
else:
    print('False')

True

In [187]:
df = [1, 2, 3, 4, 5, 15]
if x not in df:
    print('True')
else:
    print('False')

False

In [188]:
#pass : pass the line
if x in df:
    pass # will write later
else:
    print('False')

## 6. While & For loop

* while loop

In [191]:
# While <condition>:
#     <expression>
#     <expression>
#     …

condition evaluate to a Boolean

If condition is True, do all the steps inside the while code block

Check condition again

Repeat until condition is False

When there is no False, then it will run forever

Sometimes, you can make infinite loop. so plz check the condition is infinite

In [7]:
i = 1
result = 0

while i <= 9:
    result += i
    i += 1
    
print(result)

45

- For loop

In [189]:
# For <variable> in range(<some_num>):
#     <expression>
#     <expression>

each time through the loop, variable takes a value

First time, variable starts at the smallest value

Next time, variable gets the prev value +1

range(start, stop, step)

* default values are start = 0 and step = 1 and optional

* loop until value is stop -1

In [8]:
array = [9, 8, 7, 6, 5]

for x in array:
    print(x)

9
8
7
6
5

range(start, stop, step)

* default values are start = 0 and step = 1 and optional

* loop until value is stop -1

In [11]:
#procedure is the same as while loop example.
result = 0

for i in range(1, 10): 
    result += i
print(result)

45

In [12]:
for i in range(1, 10): 
    print(i)

1
2
3
4
5
6
7
8
9

- continue

when we want to skip some codes, then use 'continue'

In [13]:
result = 0

for i in range(1, 10):
    if i % 2 == 0:
        continue
    result += i 
print(result)

25

In [17]:
# this is the difference
result = 0

for i in range(1, 10):
    if i % 2 == 0:
        result += i 
print(result)

20

- break

if you want to exit from the code? just use it.

immediately exits whatever loop it is in

Skips remaining expression in code block

Exits only innermost loop!

In [19]:
i = 1

while True:
    print('i = ', i)
    if i == 5:
        break
    i += 1

# It'll run forever, there is no 'break'

i =  1
i =  2
i =  3
i =  4
i =  5

## Examples

In [22]:
scores = [90, 85, 77, 65, 97]

In [25]:
# pass if the score more than 80

for i in range(5):
    if scores[i] >= 80:
        print(i + 1, 'passed.')

1 passed.
2 passed.
5 passed.

In [26]:
# except for cheating students
cheating = {2, 4}

for i in range(5):
    if i + 1 in cheating:
        continue
    if scores[i] >= 80:
        print(i + 1, 'passed.')

1 passed.
5 passed.

In [30]:
# for loop in for loop
# make multiplication table
for i in range(2, 10):
    for j in range(1, 10):
        print(i, '*', j, '=', i * j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 7. funtion

Method too reduce repeat of the same code. 

- parameter : variable used in function.

- return : result of function.

In [32]:
def name_of_function(parameter):
    #source code
    return # == result

In [33]:
# sum
def add(a, b):
    return a + b

In [34]:
add(3, 7)

10

In [36]:
# You can designate parameters directly.
add(b = 3, a = 7)

10

- global keyword

if you designate global as a parameter, then it use variable out of the function.

In [37]:
a = 0

In [38]:
def f():
    global a
    a +=1 
for i in range(10):
    f()

In [39]:
a

10

Function can have returns more than one.

In [42]:
def operator(a, b):
    add = a + b
    sub = a - b
    mul = a * b
    div = a / b
    return add, sub, mul, div

In [43]:
a, b, c, d = operator(7, 3)

In [44]:
a, b, c, d

(10, 4, 21, 2.3333333333333335)

- lambda method

a kind of short way

In [47]:
# sum
# def add(a, b):
#     return a + b
# is the same as
(lambda a, b: a + b)(3, 7)

10

In [48]:
array = [('kim', 26), ('park', 24), ('lee', 28)]

def my_key(x):
    return x[1]

In [49]:
sorted(array, key = my_key)

[('park', 24), ('kim', 26), ('lee', 28)]

In [50]:
sorted(array, key = lambda x: x[1]) # the same

[('park', 24), ('kim', 26), ('lee', 28)]

In [52]:
# application

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(lambda a, b: a + b, list1, list2)

In [54]:
list(result)

[7, 9, 11, 13, 15]

## 8. inner function

In [56]:
# sum()
a = sum([1, 2, 3, 4, 5])
a

15

In [62]:
# min(), max()
min(a), max(a)

(2, 9)

In [65]:
eval("(3 + 5) * 7") # change string into real number and calculate

56

In [67]:
#sorted()
a = [9, 8, 2, 4, 5, 6]
sorted(a)

[2, 4, 5, 6, 8, 9]

In [68]:
sorted(a, reverse = True)

[9, 8, 6, 5, 4, 2]